<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <attribution android:tag="@string/empty" android:label="@string/attribution_description" />
    <attribution android:tag="audioPlayback" android:label="@string/attribution_description" />

    <!-- PERMISSION -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".ui.MusikApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_default_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_default_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.Musik"
        android:requestLegacyExternalStorage="true"> <!-- May or may not be needed -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Musik"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <!-- Default Icon -->
        <activity-alias
            android:name=".DefaultIcon"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_default_launcher"
            android:roundIcon="@mipmap/ic_default_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Black Icon -->
        <activity-alias
            android:name=".BlackIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_black_launcher"
            android:roundIcon="@mipmap/ic_black_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Blue Icon -->
        <activity-alias
            android:name=".BlueIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_blue_launcher"
            android:roundIcon="@mipmap/ic_blue_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Green Icon -->
        <activity-alias
            android:name=".GreenIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_green_launcher"
            android:roundIcon="@mipmap/ic_green_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Orange Icon -->
        <activity-alias
            android:name=".OrangeIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_orange_launcher"
            android:roundIcon="@mipmap/ic_orange_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Pink Icon -->
        <activity-alias
            android:name=".PinkIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_pink_launcher"
            android:roundIcon="@mipmap/ic_pink_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Purple Icon -->
        <activity-alias
            android:name=".PurpleIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_purple_launcher"
            android:roundIcon="@mipmap/ic_purple_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Red Icon -->
        <activity-alias
            android:name=".RedIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_red_launcher"
            android:roundIcon="@mipmap/ic_red_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- White Icon -->
        <activity-alias
            android:name=".WhiteIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_white_launcher"
            android:roundIcon="@mipmap/ic_white_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <service
            android:name=".data.services.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
